body {
  font-family: Arial, sans-serif;
  background-color: #fffdf7;
  color: #333;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #830000;
}

form {
  max-width: 500px;
  margin: auto;
  padding: 20px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 10px;
}

label {
  display: block;
  margin-bottom: 15px;
}

input[type="text"] {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  margin-top: 5px;
}

button {
  background-color: #582500;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #830000;
}
