body {
  font-family: Arial, sans-serif;
  background-color: #F5F5DC;
  color: #4F4F4F;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #7e473d;
}

form {
  max-width: 500px;
  margin: auto;
  background-color: white;
  padding: 20px;
  border: 2px solid #B08550;
  border-radius: 10px;
}

label, select {
  display: block;
  margin-bottom: 10px;
}

button {
  background-color: #7e473d;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
}

button:hover {
  background-color: #a04545;
}

.logo {
  display: block;
  margin: 20px auto;
}

/* Estilo especial para contacto */
.contacto {
  background-color: #fff3e0;
  border: 2px dashed #e0914c;
  padding: 15px;
  border-radius: 10px;
  margin-top: 25px;
}

.contacto legend {
  font-weight: bold;
  color: #a35b2e;
}
.plantas-medicinales {
  max-width: 500px;
  margin: 20px auto;
  background-color: #A8D5BA; /* Verde suave */
  border: 2px solid #B08550; /* Marrón suave */
  border-radius: 10px;
  padding: 15px 20px;
  text-align: center;
  font-size: 1.1em;
  color: #4F4F4F; /* Gris oscuro */
  box-shadow: 0 2px 5px rgba(176, 129, 80, 0.4);
}

.plantas-medicinales h2 {
  margin-bottom: 10px;
  color: #4CAF50; /* Verde intenso */
}

.plantas-medicinales a {
  text-decoration: none;
  color: #4CAF50;
  font-weight: bold;
  border-bottom: 2px solid transparent;
  transition: border-color 0.3s;
}

.plantas-medicinales a:hover {
  border-color: #81C784; /* Verde claro */
}
